<%- include('partials/head', {linkCSS:'/styles/css/styles.css', tituloWeb:'Menu'})  %> 
<body>
	<div class="container"> 
		<div class="header" style="height: min-content;">
			<%- include('partials/navbar')  %> 
			<%- include('partials/dropdownNav') %> 
		</div>
		<div class="containerMenu">

			<div class="filtersPanel">
				<form class="filtersElements">
					
					<h2 class="filtersTitle">Filtros</h2>
					<div class="filter1">
						<h3 class="filterTitle">Departamento</h3>
						<ul class="filter1Options">
							<li class="filter1Option"><label for="">Celulares</label><input type="radio" name="tipo" id="chkCelulares" data-id='CELULARES' onclick="der('CELULAR')"></li>
							<li class="filter1Option"><label for="">Audifonos</label><input type="radio" name="tipo" id="chkAudifonos" data-id='BUDS' onclick="der('BUDS')"></li>
							<li class="filter1Option"><label for="">Watches</label><input type="radio" name="tipo" id="chkWatches" data-id='WATCHES' onclick="der('WATCH')"></li>
							<li class="filter1Option"><label for="">Cargadores</label><input type="radio" name="tipo" id="chkCargadores" data-id='CARGADOR' onclick="der('CARGADOR')"></li>
							<li class="filter1Option"><label for="">Parlantes</label><input type="radio" name="tipo" id="chkParlantes" data-id='PARLANTES' onclick="der('PARLANTE')"></li>
						</ul>
					</div>
					<div class="filter2">
						<h3 class="filterTitle">Marca</h3>
						<ul class="filter2Options">
							
							<li class="filter2Option"><label for="">Apple</label><input type="radio" name="marca" id="chkApp" data-id='APPLE' onclick="dor('APPLE')"></li>
							<li class="filter2Option"><label for="">Huawei</label><input type="radio" name="marca" id="chkHua" data-id='HUAWEI' onclick="dor('HUAWEI')"></li>
							<li class="filter2Option"><label for="">JBL</label><input type="radio" name="marca" id="chkJbl" data-id='JBL' onclick="dor('JBL')"></li>
							<li class="filter2Option"><label for="">Motorola</label><input type="radio" name="marca" id="chkMot" data-id='MOTOROLA' onclick="dor('MOTOROLA')"></li>
							<li class="filter2Option"><label for="">Samsung</label><input type="radio" name="marca" id="chkSam" data-id='SAMSUNG' onclick="dor('SAMSUNG')"></li>
							<li class="filter2Option"><label for="">Skullcandy</label><input type="radio" name="marca" id="chkSku" data-id='SKULLCANDY' onclick="dor('SKULLCANDY')"></li>
							<li class="filter2Option"><label for="">Sony</label><input type="radio" name="marca" id="chkSon" data-id='SONY' onclick="dor('SONY')"></li>
							<li class="filter2Option"><label for="">Xiaomi</label><input type="radio" name="marca" id="chkXia" data-id='XIAOMI' onclick="dor('XIAOMI')"></li>
						</ul>
					</div>
					<!-- <div class="filter3">
						<h3 class="filterTitle">Precio</h3>
						<input type="number" placeholder="Min S/.20" name="" id=""><span>a</span><input type="number" placeholder="Max S/. 10000" name="" id="">
					</div> -->
					<!-- <input type="button" value="Buscar" > -->
					<!-- <input type="button" id="btnFilter" onclick="filterOp()" value="buscar"></input> -->
				</form>
			</div>

			<div class="productsPanel">
				<% if (arrayProductsDB.length > 0) { %> 
					<% arrayProductsDB.forEach(product => { %> 
					<div class="productGrid">
						<div class="productImgCont">
							<img class="productThumbnail" src="<%= product.img %> " alt="<%= product.img %>">
						</div>
						<p class="productName">
							<%= product.nombre %> 
						</p>
						<p class="productPrize">S/.<%= product.precio %> </p>
						<ul class="productSpecs">
							<% if(product.tipo == 'celular'){ %> 
								<li class="productSpec" style="display: none;">tipo: <%= product.tipo %> </li>
								<li class="productSpec">Marca: <%= product.marca %> </li>
								<li class="productSpec">Color: <%= product.caracteristicas.color %> </li>
								<li class="productSpec">Capacidad: <%= product.caracteristicas.almacenamiento %> </li>
								<li class="productSpec">Batería: <%= product.caracteristicas.bateria %> </li>

							<% }else{ %>
								<li class="productSpec" style="display: none;">tipo: <%= product.tipo %> </li>
								<li class="productSpec">Marca: <%= product.marca %> </li>
								<li class="productSpec">Color: <%= product.caracteristicas.color %> </li>
								<li class="productSpec">Bateria: <%= product.caracteristicas.bateria %> </li>

							<% } %> 
						</ul>
						<a href="/menu/product/<%= product.marca + "/" + product.id %> "><button class="btnBuy">COMPRAR</button></a>
					</div>
					<% }) %> 
				<% }else{ %> 
					<h2>No hay productos que coincidan con la selección</h2>
				<% } %> 
			</div>
			<template>

			</template>
		</div>

		<%- include('partials/footer')  %> 
	</div>


	<script src="/js/dropdown.js"></script>
	<!-- <script src="./js/filter.js"></script> -->
	<script>
		function der(loc){
			window.location.href = `/menu/tipo/${loc}`;
		}
    function dor(luc){
			window.location.href = `/menu/marca/${luc}`
		}
	</script>
</body>

</html>